<div class="form-container">
  <h2>Login - EncenaPE</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <label for="email">Email:</label>
      <input id="email" type="email" formControlName="email" />
    </div>

    <div class="form-field">
      <label for="senha">Senha:</label>
      <input id="senha" type="password" formControlName="senha" />
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
  </form>
  
  <div class="links">
    <a routerLink="/register">Não tem uma conta? Cadastre-se</a>
    <a routerLink="/esqueceu-senha">Esqueceu sua senha?</a>
  </div>
</div>