<nav class="navbar">
  <div class="navbar-left">
    <a routerLink="/" class="logo-container">
      <img src="images/Logo-EncenaPE.png" alt="Logo EncenaPE" class="logo">
    </a>
  </div>

  <ul class="navbar-links">
    <li><a routerLink="/">Início</a></li>
    <li><a routerLink="/eventos">Eventos</a></li>
    <li><a routerLink="/ajuda">Ajuda</a></li>
  </ul>

  <div class="navbar-right">
    <div class="auth-section">
      <div *ngIf="currentUser$ | async as user; else loggedOutLinks" class="profile-menu">

        <div class="profile-menu-trigger">
          <span class="navbar-username">Olá, {{ user.nome }}</span>
        </div>

        <div class="profile-dropdown-content">
          <a routerLink="/perfil">Meu Perfil</a>
          <a routerLink="/meus-ingressos">Meus Ingressos</a>
          <a routerLink="/criar-evento">Criar Evento</a>
          <hr>
          <button class="btn-logout" (click)="logout()">Sair</button>
        </div>
      </div>

      <ng-template #loggedOutLinks>
        <div class="auth-buttons">
          <a class="btn-primary" routerLink="/login">Login</a>
          <a class="btn-primary" routerLink="/register">Cadastrar</a>
        </div>
      </ng-template>
    </div>

  </div>
</nav>

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>
