<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-brand" routerLink="/">EncenaPe</a>
    <ul class="navbar-links">
      <li><a routerLink="/">Início</a></li>
      <li><a routerLink="/eventos">Eventos</a></li>
      <li><a routerLink="/criar-evento">Criar Evento</a></li>
      <li><a routerLink="/ajuda">Ajuda</a></li>
    </ul>

 <div class="navbar-auth">

  <div *ngIf="currentUser$ | async as user; else loggedOutLinks" class="profile-menu">

    <div class="profile-menu-trigger">
      <span class="navbar-username">Olá, {{ user.nome }}</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="profile-icon">
        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
        <circle cx="12" cy="7" r="4"></circle>
      </svg>
    </div>

    <div class="profile-dropdown-content">
      <a routerLink="/perfil">Meu Perfil</a>
      <a routerLink="/meus-ingressos">Meus Ingressos</a>
      <hr>
      <button class="btn-logout" (click)="logout()">Sair</button>
    </div>

  </div>

  <ng-template #loggedOutLinks>
    <a class="btn-secondary" routerLink="/login">Entrar</a>
    <a class="btn-primary" routerLink="/register">Cadastrar</a>
  </ng-template>

</div>
  </div>
</nav>

<router-outlet></router-outlet>
